@font-face {
	font-family: 'Gothic 725 Bold';
	src: url('../assets/Gothic_725_Bold.woff2') format('woff2'),
		 url('../assets/Gothic_725_Bold.woff') format('woff'),
		 url('../assets/Gothic_725_Bold.ttf') format('ttf'),
		 url('../assets/Gothic_725_Bold.otf') format('otf');
}

@font-face {
	font-family: 'Gothic 725 Black';
	src: url('../assets/Gothic_725_Black.woff2') format('woff2'),
		 url('../assets/Gothic_725_Black.woff') format('woff'),
		 url('../assets/Gothic_725_Black.ttf') format('ttf'),
		 url('../assets/Gothic_725_Black.otf') format('otf');
}
