@import 'mixins';

.home.page {
    background-color: #fff;
    $background-size: 15px 15px;
    @include retina-image('/assets/bg', $background-size, 'png');
    background-size: $background-size;
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.home__intro {
    font-size: 1.1em;
}
.home__intro-text {
    font-size: 1.4em;
}
