@import 'global';

*,
::before,
::after {
	box-sizing: initial;
}
:root {
	height: 100%;
	font-family: $fontstack;
	overflow-y: auto; // override sanitize
}
body {
	color: #222;
	background: #fff;
	padding: 3rem;
	overflow-x: hidden;
	box-sizing: border-box;
}
a:link,
a:visited {
	color: inherit;
}
p {
	font-size: inherit;
	font-family: inherit;
	margin: 0.8em 0;
}
img {
	display: inline-block;
}
.row {
	max-width: 50rem;
	margin-right: auto;
	margin-left: auto;
}
.item-box {
	background: #fff;
	padding: 1.5rem 2rem;
	margin-bottom: 3rem;
	&:last-child { margin-bottom: 0; }
	display: block;
}
/*
.video {

	div.video-js,
	video:not(.vjs-tech) {
		width: 100%;
		display: block;
	}
}
.video-js.vjs-scalable {
	width: 100%;
	height: auto;

	&::before {
		content: "";
		padding-top: 56.25%;
		width: 100%;
		display: block;
	}

	.vjs-tech {
		top: 0; right: 0; bottom: 0; left: 0;
		position: absolute;
	}
}
.video-js.vjs-nogui {

	.vjs-loading-spinner { display: none !important; }
}
*/
